<div id="preloader-active">
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="preloader-inner position-relative">
            <div class="preloader-circle"></div>
            <div class="preloader-img pere-text">
                <img src="assets/img/logo/logo.png" alt="">
            </div>
        </div>
    </div>
</div>

<header>
    <!-- Header Start -->
    <div class="header-area">
        <div class="main-header header-sticky">
            <div class="container-fluid">
                <div class="menu-wrapper">
                    <!-- Logo -->
                    <div class="logo">
                        <a RouterLink="/home" href="/home"><img src="assets/img/logo/logo.png" alt=""></a>
                    </div>
                    <!-- Main-menu -->
                    <div class="main-menu d-none d-lg-block">
                        <nav>
                            <ul id="navigation">
                                <li><a routerLink="home" routerLinkActive="active-link" href="/home">Home</a></li>
                                <li class="hot"><a routerLink="shop" routerLinkActive="active-link" href="shop">shop</a>
                                </li>
                                <li><a routerLink="about" routerLinkActive="active-link" href="about">about</a></li>

                                <li><a routerLink="blog" routerLinkActive="active-link" href="blog">Blog</a></li>

                                <li><a routerLink="contact" routerLinkActive="active-link" href="contact">Contact</a>
                                </li>
                                <li *ngIf="isAdmin()"><a routerLink="admin" routerLinkActive="active-link" href="admin">Admin</a></li>
                            </ul>
                        </nav>
                    </div>
                    <!-- Header Right -->
                    <div class="header-right">
                        <ul>
                            <li>
                                <div class="nav-search search-switch">
                                    <span class="flaticon-search"></span>
                                </div>
                            </li>
                            <li *ngIf="!isLoggedIn()"> <a routerLink="login" routerLinkActive="login" href="login"><span
                                class="flaticon-user"></span></a></li>
                            <li *ngIf="isLoggedIn()">
                                <a routerLink="login" routerLinkActive="login" href="login">
                                    <span (click)="logOut()">
                                        <i class="fa  fa-sign-out-alt"></i>
                                    </span></a>
                            </li>
                            <li *ngIf="isLoggedIn()">
                                <a routerLink="cart" routerLinkActive="cart" href="cart"><span
                                        class="flaticon-shopping-cart"><span id="cartItems"
                                            *ngIf="numberOfItems > 0">{{numberOfItems}}</span></span></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- Mobile Menu -->
                <div class="col-12">
                    <div class="mobile_menu d-block d-lg-none"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->
</header>