.active-link {
    background-color: #ef4430;
}

#cartItems {
    font-size: 12px;
    background: #ff0000;
    color: #fff;
    border-radius: 50px;
    padding: 3px 6px;
    position: relative;
    bottom: 16px;
    right: 3px;
}