/* 1. Theme default css */

@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:200,300,400,500,600,700|Roboto:100,300,400,500,700&display=swap');
body {
    font-family: $font_2;
    font-weight: normal;
    font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $font_1;
    color: #0b1c39;
    margin-top: 0px;
    font-style: normal;
    font-weight: 500;
    text-transform: normal;
}

p {
    font-family: $font_2;
    color: $font_color1;
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 15px;
    font-weight: normal;
}

span {
    font-family: $font_1;
}

// background-image
.bg-img-1 {
    background-image: url(../img/slider/img.png);
}

.bg-img-2 {
    background-image: url(../img/slider/img.png);
}

.cta-bg-1 {
    background-image: url(../img/slider/img.png);
}

.img {
    max-width: 100%;
    @include transition(.3s);
}

.f-left {
    float: left
}

.f-right {
    float: right
}

.fix {
    overflow: hidden
}

.clear {
    clear: both;
}

a,
.button {
    @include transition(.3s);
}

a:focus,
.button:focus {
    text-decoration: none;
    outline: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    color: rgb(99, 92, 92);
}

a:hover {
    color: #fff;
}

a:focus,
a:hover,
.portfolio-cat a:hover,
.footer -menu li a:hover {
    text-decoration: none;
}

a,
button {
    color: #fff;
    outline: medium none;
}

button:focus,
input:focus,
input:focus,
textarea,
textarea:focus {
    outline: 0
}

.uppercase {
    text-transform: uppercase;
}

input:focus::-moz-placeholder {
    opacity: 0;
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
}

.capitalize {
    text-transform: capitalize;
}


/* Theme-overlay */

.theme-overlay {
    position: relative
}

.theme-overlay::before {
    background: #1696e7 none repeat scroll 0 0;
    content: "";
    height: 100%;
    left: 0;
    opacity: 0.6;
    position: absolute;
    top: 0;
    width: 100%;
}

.overlay {
    position: relative;
    z-index: 0;
}

.overlay::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    @extend %overlay;
}

.overlay2 {
    position: relative;
    z-index: 0;
}

.overlay2::before {
    position: absolute;
    content: "";
    background-color: #2E2200;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.5;
}

// Section Padding
.section-padding {
    padding-top: 120px;
    padding-bottom: 120px;
}

.separator {
    border-top: 1px solid #f2f2f2
}

.mb-90 {
    margin-bottom: 90px;
    @media #{$mobile_device} {
        margin-bottom: 30px;
    }
    @media #{$tablet_device} {
        margin-bottom: 45px;
    }
}


/* owl-carousel button style */

.owl-carousel {
    .owl-nav div {
        background: rgba(255, 255, 255, 0.8) none repeat scroll 0 0;
        height: 40px;
        left: 20px;
        line-height: 40px;
        font-size: 22px;
        color: #646464;
        opacity: 1;
        visibility: visible;
        position: absolute;
        text-align: center;
        top: 50%;
        transform: translateY(-50%);
        transition: all 0.3s ease 0s;
        width: 40px;
    }
    .owl-nav {
        div {
            &.owl-next {
                left: auto;
                right: -30px;
                i {
                    position: relative;
                    right: 0;
                    top: 1px;
                }
            }
            &.owl-prev {
                i {
                    position: relative;
                    right: 1px;
                    top: 0px;
                }
            }
        }
    }
    &:hover {
        .owl-nav {
            div {
                opacity: 1;
                visibility: visible;
                &:hover {
                    color: #fff;
                    background: $theme-color4;
                }
            }
        }
    }
}

.btn {
    background: $btn_bg;
    font-family: $font_1;
    text-transform: uppercase;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.03em;
    padding: 30px 28px;
    border-radius: 0px;
    display: inline-block;
    line-height: 0;
    cursor: pointer;
    margin-bottom: 0;
    margin: 10px;
    cursor: pointer;
    transition: color 0.4s linear;
    position: relative;
    z-index: 1;
    -moz-user-select: none;
    border: 0;
    overflow: hidden;
    margin: 0;
    &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: #4a4a4b;
        z-index: 1;
        transition: transform 0.5s;
        transition-timing-function: ease;
        transform-origin: 0 0;
        transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
        // 
        transform: scaleX(0);
        border-radius: 0px;
    }
}

.btn:hover::before {
    transform: scaleX(1);
    color: #fff !important;
    z-index: -1;
}

// other
.header-btn {
    padding: 25px 28px !important;
    @media #{$large1} {
        padding: 25px 21px !important;
    }
}

.btn.focus,
.btn:focus {
    outline: 0;
    box-shadow: none;
}

.hero-btn {
    padding: 25px 29px;
    background: #4a4a4b;
    &::before {
        background: $theme-color;
    }
}

// Custom Btns
.black-btn {
    background: #000;
    box-shadow: 0px 20px 50px 0px rgba(22, 22, 22, 0.2);
    transform: translateY(0px);
    cursor: pointer;
    display: inline-block;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 0;
    margin-bottom: 0;
    padding: 27px 44px;
    border-radius: 25px;
}

.black-btn:hover {
    box-shadow: 0px 20px 50px 0px rgba(12, 9, 9, 0.2);
    transform: translateY(-3px);
}

.shop1-btn {
    box-shadow: 0px 20px 50px 0px rgba(37, 119, 253, 0.2);
}

.border-btn {
    background: none;
    -moz-user-select: none;
    border: 2px solid $theme-color;
    padding: 18px 38px;
    margin: 10px;
    text-transform: capitalize;
    color: $theme-color;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    margin-bottom: 0;
    border-radius: 5px;
    position: relative;
    transition: color 0.4s linear;
    position: relative;
    overflow: hidden;
    margin: 0;
    &::before {
        border: 2px solid transparent;
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: $theme-color;
        z-index: -1;
        transition: transform 0.5s;
        transition-timing-function: ease;
        transform-origin: 0 0;
        transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
        // 
        transform: scaleY(0);
    }
}

.border-btn:hover::before {
    transform: scaleY(1);
    order: 2px solid transparent;
}

// Border btn-2
.border-btn.border-btn2 {
    padding: 17px 52px;
}

.send-btn {
    background: $theme_color;
    color: #fff;
    font-size: 14px;
    width: 100%;
    height: 55px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: color 0.4s linear;
    position: relative;
    overflow: hidden;
    z-index: 1;
    &::before {
        border: 2px solid transparent;
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: #e6373d;
        color: $theme_color;
        z-index: -1;
        transition: transform 0.5s;
        transition-timing-function: ease;
        transform-origin: 0 0;
        transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
        // 
        transform: scaleX(0);
    }
}

.send-btn:hover::before {
    transform: scaleY(1);
    order: 2px solid transparent;
    color: red;
}


/* button style */

.breadcrumb>.active {
    color: #888;
}


/* scrollUp */

#scrollUp {
    background: $theme-color;
    height: 50px;
    width: 50px;
    right: 31px;
    bottom: 18px;
    @media #{$xs} {
        right: 16px;
    }
    color: #fff;
    font-size: 20px;
    text-align: center;
    border-radius: 50%;
    line-height: 48px;
    border: 2px solid transparent;
}

#scrollUp:hover {
    color: #fff;
}


/* Sticky*/

.sticky-bar {
    left: 0;
    margin: auto;
    position: fixed;
    top: 0;
    width: 100%;
    -webkit-box-shadow: 0 10px 15px rgba(25, 25, 25, 0.1);
    box-shadow: 0 10px 15px rgba(25, 25, 25, 0.1);
    z-index: 9999;
    -webkit-animation: 300ms ease-in-out 0s normal none 1 running fadeInDown;
    animation: 300ms ease-in-out 0s normal none 1 running fadeInDown;
    -webkit-box-shadow: 0 10px 15px rgba(25, 25, 25, 0.1);
    background: #fff;
}


/* Sticky end */


/*--- Margin & Padding --*/


/*-- Margin Top --*/

@for $i from 1 through 40 {
    .mt-#{5 * $i} {
        margin-top: 5px * $i;
    }
}


/*-- Margin Bottom --*/

@for $i from 1 through 40 {
    .mb-#{5 * $i} {
        margin-bottom: 5px *$i;
    }
}


/*-- Margin Left --*/

@for $i from 1 through 40 {
    .ml-#{5 * $i} {
        margin-left: 5px * $i;
    }
}


/*-- Margin Right --*/

@for $i from 1 through 40 {
    .mr-#{5 * $i} {
        margin-right: 5px *$i;
    }
}


/*-- Padding Top --*/

@for $i from 1 through 40 {
    .pt-#{5 * $i} {
        padding-top: 5px *$i;
    }
}

.pt-260 {
    padding-top: 260px;
}


/*-- Padding Bottom --*/

@for $i from 1 through 40 {
    .pb-#{5 * $i} {
        padding-bottom: 5px *$i;
    }
}


/*-- Padding Left --*/

@for $i from 1 through 40 {
    .pl-#{5 * $i} {
        padding-left: 5px *$i;
    }
}


/*-- Padding Right --*/

@for $i from 1 through 40 {
    .pr-#{5 * $i} {
        padding-right: 5px *$i;
    }
}

// others common css here :)

/*-- Some Animated CSS -- */


/* bounce-animate */

.bounce-animate {
    animation-name: float-bob;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    /* animation-timing-function: linear; */
    -moz-animation-name: float-bob;
    -moz-animation-duration: 2s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: float-bob;
    -ms-animation-duration: 2s;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
    -o-animation-name: float-bob;
    -o-animation-duration: 2s;
    -o-animation-iteration-count: infinite;
    -o-animation-timing-function: linear;
}

@-webkit-keyframes float-bob {
    0% {
        -webkit-transform: translateY(10px);
        transform: translateY(-10px);
    }
    50% {
        -webkit-transform: translateY(-5px);
        transform: translateY(-5px);
    }
    100% {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }
}


/* heartbeat */

.heartbeat {
    animation: heartbeat 1s infinite alternate;
}

@-webkit-keyframes heartbeat {
    to {
        -webkit-transform: scale(1.03);
        transform: scale(1.03);
    }
}


/* rotateme */

.rotateme {
    -webkit-animation-name: rotateme;
    animation-name: rotateme;
    -webkit-animation-duration: 30s;
    animation-duration: 30s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
}

@keyframes rotateme {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes rotateme {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}


/* 20. preloader */

.preloader {
    background-color: #f7f7f7;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999999;
    -webkit-transition: .6s;
    -o-transition: .6s;
    transition: .6s;
    margin: 0 auto;
}

.preloader .preloader-circle {
    width: 100px;
    height: 100px;
    position: relative;
    border-style: solid;
    border-width: 1px;
    border-top-color: $theme-color;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    z-index: 10;
    border-radius: 50%;
    -webkit-box-shadow: 0 1px 5px 0 rgba(35, 181, 185, 0.15);
    box-shadow: 0 1px 5px 0 rgba(35, 181, 185, 0.15);
    background-color: #ffffff;
    -webkit-animation: zoom 2000ms infinite ease;
    animation: zoom 2000ms infinite ease;
    -webkit-transition: .6s;
    -o-transition: .6s;
    transition: .6s;
}

.preloader .preloader-circle2 {
    border-top-color: #0078ff;
}

.preloader .preloader-img {
    position: absolute;
    top: 50%;
    z-index: 200;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
    display: inline-block;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    padding-top: 6px;
    -webkit-transition: .6s;
    -o-transition: .6s;
    transition: .6s;
}

.preloader .preloader-img img {
    max-width: 55px;
}

.preloader .pere-text strong {
    font-weight: 800;
    color: #dca73a;
    text-transform: uppercase;
}

@-webkit-keyframes zoom {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .6s;
        -o-transition: .6s;
        transition: .6s;
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
        -webkit-transition: .6s;
        -o-transition: .6s;
        transition: .6s;
    }
}

@keyframes zoom {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .6s;
        -o-transition: .6s;
        transition: .6s;
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
        -webkit-transition: .6s;
        -o-transition: .6s;
        transition: .6s;
    }
}


/*-- Section Padding -- */

.section-padding2 {
    padding-top: 200px;
    padding-bottom: 200px;
    @media #{$laptop} {
        padding-top: 200px;
        padding-bottom: 200px;
    }
    @media #{$lg} {
        padding-top: 200px;
        padding-bottom: 200px;
    }
    @media #{$md} {
        padding-top: 100px;
        padding-bottom: 100px;
    }
    @media #{$sm} {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    @media #{$xs} {
        padding-top: 50px;
        padding-bottom: 50px;
    }
}

.padding-bottom {
    padding-bottom: 250px;
    @media #{$laptop} {
        padding-bottom: 250px;
    }
    @media #{$lg} {
        padding-bottom: 150px;
    }
    @media #{$md} {
        padding-bottom: 40px;
    }
    @media #{$sm} {
        padding-bottom: 10px;
    }
    @media #{$xs} {
        padding-bottom: 10px;
    }
}

.lf-padding {
    padding-left: 60px;
    padding-right: 60px;
    @media #{$lg} {
        padding-left: 60px;
        padding-right: 60px;
    }
    @media #{$md} {
        padding-left: 30px;
        padding-right: 30px;
    }
    @media #{$sm} {
        padding-left: 15px;
        padding-right: 15px;
    }
    @media #{$xs} {
        padding-left: 15px;
        padding-right: 15px;
    }
}

.team-padding {
    padding-top: 160px;
    padding-bottom: 130px;
    @media #{$laptop} {
        padding-top: 160px;
        padding-bottom: 130px;
    }
    @media #{$lg} {
        padding-top: 110px;
        padding-bottom: 80px;
    }
    @media #{$md} {
        padding-top: 100px;
        padding-bottom: 80px;
    }
    @media #{$xs} {
        padding-top: 100px;
        padding-bottom: 80px;
    }
}

.section-padding30 {
    padding-top: 200px;
    padding-bottom: 170px;
    @media #{$laptop} {
        padding-top: 200px;
        padding-bottom: 170px;
    }
    @media #{$lg} {
        padding-top: 150px;
        padding-bottom: 120px;
    }
    @media #{$md} {
        padding-top: 100px;
        padding-bottom: 70px;
    }
    @media #{$sm} {
        padding-top: 60px;
        padding-bottom: 28px;
    }
    @media #{$xs} {
        padding-top: 60px;
        padding-bottom: 28px;
    }
}

.section-paddingt2 {
    padding-bottom: 170px;
    @media #{$laptop} {
        padding-bottom: 170px;
    }
    @media #{$lg} {
        padding-bottom: 120px;
    }
    @media #{$md} {
        padding-bottom: 70px;
    }
    @media #{$sm} {
        padding-bottom: 28px;
    }
    @media #{$xs} {
        padding-bottom: 28px;
    }
}

.section-padd-top30 {
    padding-top: 170px;
    padding-bottom: 200px;
    @media #{$laptop} {
        padding-top: 170px;
        padding-bottom: 200px;
    }
    @media #{$lg} {
        padding-top: 170px;
        padding-bottom: 200px;
    }
    @media #{$md} {
        padding-top: 100px;
        padding-bottom: 160px;
    }
    @media #{$sm} {
        padding-top: 50px;
        padding-bottom: 90px;
    }
    @media #{$xs} {
        padding-top: 35px;
        padding-bottom: 90px;
    }
}

.latest-padding {
    padding-top: 190px;
    padding-bottom: 135px;
    @media #{$laptop} {
        padding-top: 190px;
        padding-bottom: 135px;
    }
    @media #{$lg} {
        padding-top: 190px;
        padding-bottom: 135px;
    }
    @media #{$md} {
        padding-top: 60px;
        padding-bottom: 5px;
    }
    @media #{$sm} {
        padding-top: 60px;
        padding-bottom: 5px;
    }
    @media #{$xs} {
        padding-top: 60px;
        padding-bottom: 5px;
    }
}

.footer-padding {
    padding-top: 150px;
    padding-bottom: 120px;
    @media #{$laptop} {
        padding-top: 150px;
        padding-bottom: 120px;
    }
    @media #{$lg} {
        padding-top: 100px;
        padding-bottom: 70px;
    }
    @media #{$md} {
        padding-top: 100px;
        padding-bottom: 70px;
    }
    @media #{$sm} {
        padding-top: 70px;
        padding-bottom: 70px;
    }
    @media #{$xs} {
        padding-top: 70px;
        padding-bottom: 70px;
    }
}

.footer-padding2 {
    padding-bottom: 120px;
    @media #{$laptop} {
        padding-bottom: 120px;
    }
    @media #{$lg} {
        padding-bottom: 70px;
    }
    @media #{$md} {
        padding-bottom: 70px;
    }
    @media #{$sm} {
        padding-bottom: 70px;
    }
    @media #{$xs} {
        padding-bottom: 70px;
    }
}


/*----------------when other page include Start--------------- */

.message_submit_form:focus {
    outline: none;
}

input:hover,
input:focus {
    outline: none !important;
}

.gray_bg {
    background-color: $section_bg;
}

.section_padding {
    padding: 200px 0px;
    @media #{$medium_device} {
        padding: 100px 0px;
    }
    @media #{$tab_device} {
        padding: 70px 0px;
    }
    @media #{$small_mobile} {
        padding: 70px 0px;
    }
    @media #{$large_mobile} {
        padding: 70px 0px;
    }
}

.single_padding_top {
    padding-top: 200px !important;
    @media #{$medium_device} {
        padding-top: 70px !important;
    }
    @media #{$tab_device} {
        padding-top: 70px !important;
    }
    @media #{$small_mobile} {
        padding-top: 70px !important;
    }
    @media #{$large_mobile} {
        padding-top: 100px !important;
    }
}

.padding_top {
    padding-top: 200px;
    @media #{$medium_device} {
        padding-top: 100px;
    }
    @media #{$tab_device} {
        padding-top: 70px;
    }
    @media #{$small_mobile} {
        padding-top: 70px;
    }
    @media #{$large_mobile} {
        padding-top: 70px;
    }
}

.padding_bottom {
    padding-bottom: 200px;
    @media #{$medium_device} {
        padding-bottom: 100px;
    }
    @media #{$tab_device} {
        padding-bottom: 70px;
    }
    @media #{$small_mobile} {
        padding-bottom: 70px;
    }
    @media #{$large_mobile} {
        padding-bottom: 70px;
    }
}

.section_tittle {
    margin-bottom: 80px;
    @media #{$tab} {
        margin-bottom: 20px;
    }
    @media #{$medium_device} {
        margin-bottom: 40px;
    }
    h2 {
        font-size: 36px;
        color: $heading_color;
        line-height: 27px;
        font-weight: 700;
        position: relative;
        margin-bottom: 28px;
        @media #{$small_mobile} {
            font-size: 25px;
            line-height: 35px;
            margin-bottom: 15px;
        }
        @media #{$large_mobile} {
            font-size: 25px;
            line-height: 35px;
            margin-bottom: 15px;
        }
        @media #{$tab_device} {
            font-size: 30px;
            line-height: 40px;
            margin-bottom: 15px;
        }
        @media #{$medium_device} {
            font-size: 35px;
            line-height: 40px;
        }
    }
    p {
        color: #556172;
        text-transform: capitalize;
        line-height: 30px;
        font-family: $font_stack_2;
        @media #{$small_mobile} {
            margin-bottom: 10px;
        }
        @media #{$large_mobile} {
            margin-bottom: 10px;
        }
        @media #{$tab_device} {
            margin-bottom: 10px;
        }
        @media #{$medium_device} {
            margin-bottom: 10px;
        }
    }
}

.mb_110 {
    margin-bottom: 110px;
    @media #{$small_mobile} {
        margin-bottom: 220px;
    }
}

.mt_130 {
    margin-top: 130px;
    @media #{$small_mobile} {
        margin-top: 70px;
    }
    @media #{$large_mobile} {
        margin-top: 70px;
    }
    @media #{$tab_device} {
        margin-top: 70px;
    }
    @media #{$medium_device} {
        margin-top: 70px;
    }
}

.mb_130 {
    margin-bottom: 140px;
    @media #{$tab} {
        margin-bottom: 70px;
    }
    @media #{$medium_device} {
        margin-bottom: 100px;
    }
}

.padding_less_40 {
    margin-bottom: -50px;
}

.z_index {
    z-index: 9 !important;
    position: relative;
}

@media #{$extra_big_screen} {
    .container {
        max-width: 1170px;
    }
}

@media (max-width: 1200px) {
    [class*="hero-ani-"] {
        display: none !important;
    }
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: $font_d;
    outline: 0;
    box-shadow: none;
}

.pageination {
    .page-link {
        border: 0px solid transparent;
        font-weight: 500;
        font-size: 18px;
        color: #979797;
        padding: 10px 8px;
        &:hover {
            background-color: transparent;
            color: #000;
        }
    }
    i {
        font-size: 12px;
    }
}

.sidebar_box_shadow {
    box-shadow: 0px 10px 10px 0px rgba(153, 153, 153, 0.1);
}

.border_top {
    border-top: 1px solid #eee;
    max-width: 1110px;
    margin: 0 auto;
}

.section_bg {
    background-color: #f4edf278;
}


/*----------------when other page include End--------------- */

.section-bg {
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center center !important;
}