<main>
    <!-- Hero Area Start-->
    <div class="slider-area ">
        <div class="single-slider slider-height2 d-flex align-items-center">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap text-center">
                            <h2>Cart List</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--================Cart Area =================-->
    <section class="cart_area section_padding">
        <div class="container">
            <div class="cart_inner">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Product</th>
                                <th scope="col">Price</th>
                                <th scope="col">Quantity</th>
                                <th scope="col">Total</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of items">
                                <td>
                                    <div class="media">
                                        <div class="d-flex">
                                            <img src="{{item.image}}" alt="" />
                                        </div>
                                        <div class="media-body">
                                            <p>{{item.title}}</p>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <h5>${{item.price}}</h5>
                                </td>
                                <td>
                                    <div class="product_count">
                                        <span (click)="subItemQte(item)" class="input-number-decrement"> <i  class="ti-minus"> </i></span>
                                        <input class="input-number" type="text" value="{{item.qte}}">
                                        <span (click)="addItemQte(item)" class="input-number-increment"> <i  class="ti-plus"></i></span>
                                    </div>
                                </td>
                                <td>
                                    <h5>${{item.price * item.qte}}</h5>
                                </td>
                                <td>
                                    <i (click)="removeItemFromCart(item)" class="ti-minus text-danger"> </i>
                                </td>
                            </tr>

                            <tr class="bottom_button">
                                <td>
                                    <a class="btn_1" href="#">Update Cart</a>
                                </td>
                                <td></td>
                                <td></td>
                                <td>
                                    <div class="cupon_text float-right">
                                        <a class="btn_1" href="#">Close Coupon</a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td>
                                    <h5>Subtotal</h5>
                                </td>
                                <td>
                                    <h5>${{getTotal()}}</h5>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                    <div class="checkout_btn_inner float-right">
                        <a class="btn_1" href="#">Continue Shopping</a>
                        <a class="btn_1 checkout_btn_1" href="#">Proceed to checkout</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================End Cart Area =================-->
</main>