<!-- Watch Choice  End-->
<!--? Shop Method Start-->
<div class="shop-method-area">
    <div class="container">
        <div class="float-right m-1">
            <span class="btn btn-info bg-info  btn-md " (click)="showAddForm()">add</span>
        </div>

        <div class="table-responsive">

            <!--Table-->
            <table class="table">

                <!--Table head-->
                <thead>
                    <tr *ngIf="hideEditForm">
                        <th class="th-sm">Title</th>
                        <th class="th-sm">Image</th>
                        <th class="th-sm">Category</th>
                        <th class="th-sm">excerpt</th>
                        <th class="th-sm">Actions</th>
                    </tr>
                </thead>
                <!--Table head-->

                <!--Table body-->
                <tbody *ngIf="hideEditForm  && hideAddForm">
                    <tr *ngFor="let item of articles">
                        <th scope="row">
                            <p>
                                {{item.title}}
                            </p>
                        </th>
                        <td>
                            <img width="100 " height="100 " src="{{item.image}} " />

                        </td>
                        <td>
                            <p>
                                {{item.category}}
                            </p>


                        </td>
                        <td>
                            <p>
                                {{item.excerpt}}
                            </p>
                        </td>
                        <td class="d-flex justify-content-around">
                            <span class="btn btn-primary bg-primary btn-sm" (click)="showEditForm(item) ">Edit</span>
                            <span class="btn btn-danger bg-danger btn-sm" (click)="DeleteItem(item) ">delete</span>
                        </td>
                    </tr>

                </tbody>
                <!--Table body-->

                <!--Update Article-->
                <div *ngIf="!hideEditForm" class="container">
                    <div class="form-group row">
                        <label for="published" class="col-sm-2 col-form-label">Public</label>
                        <div class="col-sm-10">
                            <select class="form-control" id="published" name="published" class="form-control" [(ngModel)]="editItem.published">
                            <option *ngFor="let item of [true,false]" [selected]="editItem.published==item"  [ngValue]="item">
                                 {{item.toString() | titlecase }}
                             </option>
                          </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="title" class="col-sm-2 col-form-label">Title</label>
                        <div class="col-sm-10">
                            <input class="form-control" type="text" id="title" name="title" [(ngModel)]="editItem.title" type="text">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="image" class="col-sm-2 col-form-label">Image</label>
                        <div class="col-sm-10">
                            <input class="form-control" type="image" id="image" name="title" [(ngModel)]="editItem.image" type="text">
                        </div>
                    </div>
                    <div class="form-group row">

                        <label for="category" class="col-sm-2 col-form-label">Category</label>
                        <div class="col-sm-10">
                            <input class="form-control" type="category" id="category" name="category" [(ngModel)]="editItem.category" type="text">
                        </div>

                    </div>
                    <div class="form-group row">

                        <label for="excerpt" class="col-sm-2 col-form-label">Excerpt</label>
                        <div class="col-sm-10">
                            <textarea class="form-control" type="excerpt" id="excerpt" name="excerpt" [(ngModel)]="editItem.excerpt" rows="3"></textarea>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="body" class="col-sm-2 col-form-label">Body</label>
                        <div class="col-sm-10">
                            <textarea class="form-control" type="body" id="body" name="body" [(ngModel)]="editItem.body" rows="5"></textarea>
                        </div>
                    </div>

                    <div class="d-flex justify-content-around">
                        <span class="btn btn-info bg-info btn-sm" (click)="updateArticle(item)">Update</span>
                        <span class="btn btn-primary bg-secondary btn-sm" (click)="hideForm()">cancel</span>
                    </div>

                </div>
                <!--Update Article-->


                <!--Add Article-->

                <div *ngIf="!hideAddForm" class="container">
                    <div class="form-group row">
                        <label for="published" class="col-sm-2 col-form-label">Public</label>
                        <div class="col-sm-10">
                            <select class="form-control" id="published" name="published" class="form-control" (change)="onChange($event)">
                            <option *ngFor="let item of [true,false]"   [ngValue]="item">
                                 {{item.toString() | titlecase }}
                             </option>
                          </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="title" class="col-sm-2 col-form-label">Title</label>
                        <div class="col-sm-10">
                            <input class="form-control" type="text" id="title" name="title" (change)="onChange($event)" type="text">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="image" class="col-sm-2 col-form-label">Image</label>
                        <div class="col-sm-10">
                            <input class="form-control" type="text" id="image" name="image" (change)="onChange($event)" type="text">
                        </div>
                    </div>
                    <div class="form-group row">

                        <label for="category" class="col-sm-2 col-form-label">Category</label>
                        <div class="col-sm-10">
                            <input class="form-control" type="category" id="category" name="category" (change)="onChange($event)" type="text">
                        </div>

                    </div>
                    <div class="form-group row">

                        <label for="excerpt" class="col-sm-2 col-form-label">Excerpt</label>
                        <div class="col-sm-10">
                            <textarea class="form-control" id="excerpt" name="excerpt" (change)="onChange($event)" rows="3"></textarea>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="body" class="col-sm-2 col-form-label">Body</label>
                        <div class="col-sm-10">
                            <textarea class="form-control" id="body" name="body" (change)="onChange($event)" rows="5"></textarea>
                        </div>
                    </div>

                    <div class="d-flex justify-content-around">
                        <span class="btn btn-info bg-info btn-sm" (click)="addArticle(addItem)">Save</span>
                        <span class="btn btn-primary bg-secondary btn-sm" (click)="hideForm()">cancel</span>
                    </div>

                </div>

                <!--Add Article-->

            </table>
            <!--Table-->

        </div>
    </div>
</div>
<!-- Shop Method End-->