<main>
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="btn nav-link {{productsTab ? 'active text-danger' : ''}}" (click)="onClickProductsTab()" aria-current="page">Products</a>
        </li>
        <li class="nav-item">
            <a class="btn nav-link  {{blogTab ? 'active text-danger' : ''}}" (click)="onClickArticlesTab()"> Articles </a>
        </li>
    </ul>
    <app-product-admin *ngIf="productsTab"></app-product-admin>
    <app-blog-admin *ngIf="blogTab"></app-blog-admin>

</main>