<!-- Watch Choice  End-->
<!--? Shop Method Start-->
<div class="shop-method-area">
    <div class="container">
        <div class="float-right m-1">
            <span class="btn btn-info bg-info  btn-md " (click)="showAddForm()">add</span>
        </div>

        <div class="table-responsive">

            <!--Table-->
            <table class="table">

                <!--Table head-->
                <thead>
                    <tr>
                        <th class="th-sm">Title</th>
                        <th class="th-sm">Image</th>
                        <th class="th-sm">Category</th>
                        <th class="th-sm">Price</th>
                        <th class="th-sm">Actions</th>
                    </tr>
                </thead>
                <!--Table head-->

                <!--Table body-->
                <tbody *ngIf="hideEditForm  && hideAddForm">
                    <tr *ngFor="let item of products">
                        <th scope="row">
                            <p>
                                {{item.title}}
                            </p>
                        </th>
                        <td>
                            <img width="100 " height="100 " src="{{item.image}} " />

                        </td>
                        <td>
                            <p>
                                {{item.category}}
                            </p>


                        </td>
                        <td>
                            <p>
                                {{item.price}}
                            </p>
                        </td>
                        <td class="d-flex justify-content-around">
                            <span class="btn btn-primary bg-primary btn-sm" (click)="showEditForm(item) ">Edit</span>
                            <span class="btn btn-danger bg-danger btn-sm" (click)="DeleteItem(item) ">delete</span>
                        </td>
                    </tr>

                </tbody>
                <!--Table body-->

                <!--Table body-->
                <tbody *ngIf="!hideEditForm">
                    <tr>
                        <th scope="row">
                            <input class="form-control" type="text" [(ngModel)]="editItem.title">
                        </th>
                        <td>
                            <input class="form-control" type="text" [(ngModel)]="editItem.image">

                        </td>
                        <td>

                            <select class="form-control" [(ngModel)]="editItem.category">
                                    <option *ngFor="let item of categories" [selected]="editItem.category==item"  [ngValue]="item">
                                         {{item}}
                                     </option>
                                  </select>

                        </td>
                        <td>
                            <input class="form-control" type="text" [(ngModel)]="editItem.price">

                        </td>
                        <td class="d-flex justify-content-around">
                            <span class="btn btn-info bg-info btn-sm" (click)="updateProduct(item)">update</span>
                            <span class="btn btn-primary bg-secondary btn-sm" (click)="hideForm() ">cancel</span>
                        </td>
                    </tr>

                </tbody>
                <!--Table body-->


                <!--Table body-->
                <tbody *ngIf="!hideAddForm">
                    <tr>
                        <th scope="row">
                            <input class="form-control" type="text" name="title" (change)="onChange($event)" type="text">
                        </th>
                        <td>
                            <input class="form-control" type="text" name="image" (change)="onChange($event)">

                        </td>
                        <td>

                            <select class="form-control" name="category" (change)="onChange($event)">
                                    <option *ngFor="let item of categories"   [ngValue]="item">
                                         {{item}}
                                     </option>
                                  </select>

                        </td>
                        <td>
                            <input class="form-control" name="price" type="text" (change)="onChange($event)">

                        </td>
                        <td class="d-flex justify-content-around">
                            <span class="btn btn-info bg-info btn-sm" (click)="addProduct(addItem)">Save</span>
                            <span class="btn btn-primary bg-secondary btn-sm" (click)="hideForm()">cancel</span>
                        </td>
                    </tr>

                </tbody>
                <!--Table body-->

            </table>
            <!--Table-->

        </div>
    </div>
</div>
<!-- Shop Method End-->