<main>
    <!-- Hero Area Start-->
    <div class="slider-area ">
        <div class="single-slider slider-height2 d-flex align-items-center">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap text-center">
                            <h2>Register</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Hero Area End-->
    <!--================login_part Area =================-->
    <section class="login_part section_padding ">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6">
                    <div class="login_part_text text-center">
                        <div class="login_part_text_iner">
                            <h2>Have an existing account</h2>
                            <p>There are advances being made in science and technology everyday, and a good example of this is the</p>
                            <a routerLink="/login" routerLinkActive="active-link" class="btn_3">Login</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="login_part_form">
                        <div class="login_part_form_iner">
                            <h3>Welcome to our shop </h3>
                            <form [formGroup]="registerForm" (ngSubmit)="tryRegister(registerForm.value)" class="row contact_form" novalidate>
                                <div class="col-md-12 form-group p_star">
                                    <input formControlName="email" type="text" class="form-control" id="email" name="email" value="" placeholder="Email" required>
                                </div>
                                <div class="col-md-12 form-group p_star">
                                    <input type="password" class="form-control" formControlName="password" type="password" class="form-control" id="password" name="password" value="" placeholder="Password">
                                </div>
                                <div class="col-md-12 form-group">

                                    <label *ngIf="errorMessage" class="alert alert-danger">{{errorMessage}}</label>
                                    <label *ngIf="successMessage" class="alert alert-success">{{successMessage}}</label>

                                    <button type="submit" value="submit" class="btn_3">
                                        Register
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================login_part end =================-->
</main>z